/* line 96, features/*.png */
.features-sprite, .features-chat, .features-collaboration, .features-park, .features-security, .features-share, .features-traffic {
  background-image: url('../images/features-s6767c1a046.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.features-chat {
  background-position: 0 0; }

/* line 84, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.features-collaboration {
  background-position: 0 -116px; }

/* line 84, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.features-park {
  background-position: 0 -220px; }

/* line 84, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.features-security {
  background-position: 0 -318px; }

/* line 84, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.features-share {
  background-position: 0 -433px; }
  /* line 59, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
  .features-share:hover, .features-share.share-hover {
    background-position: 0 -537px; }

/* line 84, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.features-traffic {
  background-position: 0 -641px; }

/* line 2, ../scss/base/_reset.scss */
html,
body {
  overflow-x: hidden; }

/* line 7, ../scss/base/_reset.scss */
.home {
  background: url(../images/cafeteria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%; }

/* line 14, ../scss/base/_reset.scss */
.img-fluid {
  width: 100%;
  height: auto; }

/* line 19, ../scss/base/_reset.scss */
h2 {
  color: #fd7400;
  margin-top: 50px;
  margin-bottom: 50px; }

/* line 1, ../scss/base/_home.scss */
.wow:first-child {
  visibility: hidden; }

/* line 5, ../scss/base/_home.scss */
.wow {
  visibility: hidden; }

/* line 9, ../scss/base/_home.scss */
.ballons, .ballonOne, .ballonTwo, .ballonThree, .ballonFour, .ballonFive, .ballonSix, .ballonSeven {
  width: 124px;
  height: 89px;
  position: absolute; }

/* line 15, ../scss/base/_home.scss */
.ballonOne {
  left: 5%;
  top: 5%; }

/* line 21, ../scss/base/_home.scss */
.ballonTwo {
  left: 3.5%;
  top: 29.0%; }

/* line 27, ../scss/base/_home.scss */
.ballonThree {
  left: 29.0%;
  top: 21.5%; }

/* line 33, ../scss/base/_home.scss */
.ballonFour {
  left: 49.5%;
  top: 21.5%; }

/* line 39, ../scss/base/_home.scss */
.ballonFive {
  left: 69%;
  top: 23.5%; }

/* line 45, ../scss/base/_home.scss */
.ballonSix {
  left: 10%;
  /*bottom: 0;
  margin-top:-428px;*/ }

/* line 52, ../scss/base/_home.scss */
.ballonSeven {
  right: 30%;
  bottom: 14.0%; }

/* line 3, ../scss/base/_features.scss */
.ficonwrap {
  width: 120px;
  height: 120px;
  border: #fd7400 solid 2px;
  margin: 0 auto;
  margin-bottom: 26px;
  padding: 20px 15px 20px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* line 14, ../scss/base/_features.scss */
.ficon {
  width: 90px;
  height: 90px; }

/* line 21, ../scss/base/_features.scss */
.features h4 {
  text-align: center; }
/* line 24, ../scss/base/_features.scss */
.features p {
  margin: 20px 0 40px 0;
  text-align: center; }

/* line 30, ../scss/base/_features.scss */
.steps {
  margin-right: -220px; }

/* line 35, ../scss/base/_features.scss */
.steps-5 {
  color: #fd7400; }

/* line 1, ../scss/base/_how-its-work.scss */
.how-its-wroks {
  background: url(../images/bg-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 4, ../scss/base/_how-its-work.scss */
  .how-its-wroks h2 {
    color: #fff; }
  /* line 7, ../scss/base/_how-its-work.scss */
  .how-its-wroks .points, .how-its-wroks .points1, .how-its-wroks .points2, .how-its-wroks .points3, .how-its-wroks .points4 {
    position: absolute;
    right: 180px;
    font-size: 1.4em;
    padding-top: 0px;
    color: #fff; }
  /* line 17, ../scss/base/_how-its-work.scss */
  .how-its-wroks .points2 {
    top: 94px; }
  /* line 21, ../scss/base/_how-its-work.scss */
  .how-its-wroks .points3 {
    top: 305px; }
  /* line 25, ../scss/base/_how-its-work.scss */
  .how-its-wroks .points4 {
    top: 400px; }

/* line 31, ../scss/base/_how-its-work.scss */
#myCarouselThree {
  width: 196px;
  position: absolute;
  left: 33.9%;
  top: 14%;
  z-index: 999; }

/* line 39, ../scss/base/_how-its-work.scss */
.screens {
  background: #fef8f2; }

/* line 43, ../scss/base/_how-its-work.scss */
.video {
  background: #fef8f2; }

/* line 47, ../scss/base/_how-its-work.scss */
.video h5 {
  font-style: italic;
  color: #cc3344;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: -30px; }

/* line 55, ../scss/base/_how-its-work.scss */
.carousel-indicators-HowItWorks {
  top: -90px;
  left: -196%;
  margin-left: 0%; }
  /* line 59, ../scss/base/_how-its-work.scss */
  .carousel-indicators-HowItWorks li {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 0px solid #fff;
    border-radius: 0px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1); }
  /* line 74, ../scss/base/_how-its-work.scss */
  .carousel-indicators-HowItWorks .active {
    width: 64px;
    height: 64px;
    margin: 0;
    background-color: transparent;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0); }
  /* line 83, ../scss/base/_how-its-work.scss */
  .carousel-indicators-HowItWorks .step-1 {
    background: url(../images/step-1.png) no-repeat center center;
    margin-bottom: 26px; }
  /* line 88, ../scss/base/_how-its-work.scss */
  .carousel-indicators-HowItWorks .step-2 {
    background: url(../images/step-2.png) no-repeat center center;
    margin-bottom: 153px; }
  /* line 93, ../scss/base/_how-its-work.scss */
  .carousel-indicators-HowItWorks .step-3 {
    background: url(../images/step-3.png) no-repeat center center;
    margin-bottom: 30px; }
  /* line 98, ../scss/base/_how-its-work.scss */
  .carousel-indicators-HowItWorks .step-4 {
    background: url(../images/step-4.png) no-repeat center center; }

/* line 3, ../scss/base/_reveiw.scss */
.carousel-indicatorsTwo {
  position: relative;
  bottom: 10px;
  left: 0%;
  z-index: 15;
  width: 100%;
  padding-left: 0;
  margin-left: 0%;
  text-align: center;
  list-style: none; }
  /* line 13, ../scss/base/_reveiw.scss */
  .carousel-indicatorsTwo .active {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    border: #fd7400 solid 2px; }
  /* line 20, ../scss/base/_reveiw.scss */
  .carousel-indicatorsTwo li {
    width: 120px;
    height: 120px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
    border-radius: 0px;
    float: left;
    margin-bottom: 5px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    border: transparent solid 2px; }
    /* line 33, ../scss/base/_reveiw.scss */
    .carousel-indicatorsTwo li:hover {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
      -ms-filter: grayscale(0);
      border: #fd7400 solid 2px; }
  /* line 39, ../scss/base/_reveiw.scss */
  .carousel-indicatorsTwo .active {
    width: 120px;
    height: 121px;
    margin-bottom: 5px; }

/* line 51, ../scss/base/_reveiw.scss */
.myCarouselTwo .bg-primary {
  background: #fd7400 url(../images/Triangle-Bottom-Left.png) no-repeat 100% 0;
  padding: 80px 0; }
/* line 55, ../scss/base/_reveiw.scss */
.myCarouselTwo .dp-photo {
  width: 150px;
  height: 150px;
  border: #fd7400 solid 1px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  margin-left: 30%; }
/* line 63, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-1,
.myCarouselTwo .display-pic-1 {
  background: url(../images/db/db-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 68, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-2,
.myCarouselTwo .display-pic-2 {
  background: url(../images/db/db-2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 73, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-3,
.myCarouselTwo .display-pic-3 {
  background: url(../images/db/db-3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 78, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-4,
.myCarouselTwo .display-pic-4 {
  background: url(../images/db/db-4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 83, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-5,
.myCarouselTwo .display-pic-5 {
  background: url(../images/db/db-5.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 88, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-6,
.myCarouselTwo .display-pic-6 {
  background: url(../images/db/db-6.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 93, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-7,
.myCarouselTwo .display-pic-7 {
  background: url(../images/db/db-7.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 98, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-8,
.myCarouselTwo .display-pic-8 {
  background: url(../images/db/db-8.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 103, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-9,
.myCarouselTwo .display-pic-9 {
  background: url(../images/db/db-9.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 108, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-10,
.myCarouselTwo .display-pic-10 {
  background: url(../images/db/db-10.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 113, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-11,
.myCarouselTwo .display-pic-11 {
  background: url(../images/db/db-11.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 118, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-12,
.myCarouselTwo .display-pic-12 {
  background: url(../images/db/db-12.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 123, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-13,
.myCarouselTwo .display-pic-13 {
  background: url(../images/db/db-13.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 128, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-14,
.myCarouselTwo .display-pic-14 {
  background: url(../images/db/db-14.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 133, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-15,
.myCarouselTwo .display-pic-15 {
  background: url(../images/db/db-15.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 138, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-16,
.myCarouselTwo .display-pic-16 {
  background: url(../images/db/db-16.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 143, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-17,
.myCarouselTwo .display-pic-17 {
  background: url(../images/db/db-17.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 148, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-18,
.myCarouselTwo .display-pic-18 {
  background: url(../images/db/db-18.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 153, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-19,
.myCarouselTwo .display-pic-19 {
  background: url(../images/db/db-19.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 158, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-20,
.myCarouselTwo .display-pic-20 {
  background: url(../images/db/db-20.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 163, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-21,
.myCarouselTwo .display-pic-21 {
  background: url(../images/db/db-21.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 168, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-22,
.myCarouselTwo .display-pic-22 {
  background: url(../images/db/db-22.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 173, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-23,
.myCarouselTwo .display-pic-23 {
  background: url(../images/db/db-23.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 178, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-24,
.myCarouselTwo .display-pic-24 {
  background: url(../images/db/db-24.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 183, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-25,
.myCarouselTwo .display-pic-25 {
  background: url(../images/db/db-25.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 188, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-26,
.myCarouselTwo .display-pic-26 {
  background: url(../images/db/db-26.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 193, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-27,
.myCarouselTwo .display-pic-27 {
  background: url(../images/db/db-27.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 198, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-28,
.myCarouselTwo .display-pic-28 {
  background: url(../images/db/db-28.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 203, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-29,
.myCarouselTwo .display-pic-29 {
  background: url(../images/db/db-29.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 208, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-30,
.myCarouselTwo .display-pic-30 {
  background: url(../images/db/db-30.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 213, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-31,
.myCarouselTwo .display-pic-31 {
  background: url(../images/db/db-31.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 218, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-32,
.myCarouselTwo .display-pic-32 {
  background: url(../images/db/db-32.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 223, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-33,
.myCarouselTwo .display-pic-33 {
  background: url(../images/db/db-33.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 228, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-34,
.myCarouselTwo .display-pic-34 {
  background: url(../images/db/db-34.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 233, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-35,
.myCarouselTwo .display-pic-35 {
  background: url(../images/db/db-35.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 238, ../scss/base/_reveiw.scss */
.myCarouselTwo .db-36,
.myCarouselTwo .display-pic-36 {
  background: url(../images/db/db-36.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
/* line 244, ../scss/base/_reveiw.scss */
.myCarouselTwo .reviews .col-sm-6 {
  padding: 0; }
/* line 248, ../scss/base/_reveiw.scss */
.myCarouselTwo .content-reveiw {
  text-align: center;
  padding: 80px 100px 50px 0px;
  font-size: 1.3em; }
  /* line 252, ../scss/base/_reveiw.scss */
  .myCarouselTwo .content-reveiw .content-reveiw em {
    font-size: 2em; }

/* line 2, ../scss/base/_footer.scss */
.subscribe {
  padding: 50px 0 80px; }
  /* line 4, ../scss/base/_footer.scss */
  .subscribe p {
    font-size: 2em; }
  /* line 7, ../scss/base/_footer.scss */
  .subscribe .pull-left {
    margin-left: 20px; }
  /* line 10, ../scss/base/_footer.scss */
  .subscribe .form-control {
    width: 350px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 20px 10px; }
    @media (max-width: 767px) {
      /* line 10, ../scss/base/_footer.scss */
      .subscribe .form-control {
        width: 100%;
        margin: 0px 0 20px 0; } }
  /* line 19, ../scss/base/_footer.scss */
  .subscribe .btn-primary {
    border: #333 solid 1px;
    color: #333;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #fff;
    padding: 8px 25px; }
    @media (max-width: 767px) {
      /* line 19, ../scss/base/_footer.scss */
      .subscribe .btn-primary {
        width: 100%;
        margin: 0px 0 20px 0; } }

/* line 31, ../scss/base/_footer.scss */
.social-media {
  background: #fd7400;
  text-align: center;
  padding: 80px 0; }
  /* line 35, ../scss/base/_footer.scss */
  .social-media h3 {
    color: #fff0e4;
    padding-bottom: 20px; }
  /* line 39, ../scss/base/_footer.scss */
  .social-media .btn-primary {
    border: #fff0e4 solid 2px;
    color: #fff0e4;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #fd7400;
    padding: 8px 25px;
    margin-left: 5px; }
    @media (max-width: 767px) {
      /* line 39, ../scss/base/_footer.scss */
      .social-media .btn-primary {
        width: 90%;
        margin: 0px 0px 20px 0px; } }

/* line 52, ../scss/base/_footer.scss */
.copyright {
  background: #464646;
  padding: 20px 0;
  color: #b9b9b9; }
  /* line 56, ../scss/base/_footer.scss */
  .copyright a {
    color: #b9b9b9;
    margin-left: 15px; }
    /* line 59, ../scss/base/_footer.scss */
    .copyright a:hover {
      text-decoration: none; }

/* line 65, ../scss/base/_footer.scss */
.rocket {
  position: relative; }
  /* line 67, ../scss/base/_footer.scss */
  .rocket div {
    position: absolute;
    right: 15px;
    bottom: 0; }
